.nav-bar ul {
    display: flex;
    justify-content: center;  
    
}

.nav-bar ul li{
    text-decoration: none;
    padding: 20px;
    font-weight: 25px;
    font-size: 2em;
    list-style-type: none;

}
.nav-bar ul li a{
    text-decoration:none;
}
