<div>
    <ul  class="company-details">
        <li class="company-name">{{cDetail.name}}</li>
        <li class="company-email">{{cDetail.email}}</li>
        <li class="company-phoneNo">{{cDetail.phoneNo}}</li>
        
        <!-- <li class="company-username">{{cDetail.username}}</li> -->
    </ul>

      <!-- <div *ngIf ='cDetail.location.code' >locations:{{cDetail.location[0].code}}</div>
    <ul *ngFor = 'let location of cDetail.location; index as i'>
      <li>{{i+1}}{{cDetail.location[i].name}}</li>
    </ul>  -->

    <a routerLink = '/login'>logout</a>


</div>