<!-- <div class="container">
<h1 class="header" style="text-align:center">welcome to Admin</h1>

  <nav class="nav-bar">
    <ul>
      <a routerLink="/admin"><li >admin</li></a>
      <a routerLink="/company"><li >compmany</li></a>
      <a routerLink="/helpdesk"><li >help desk</li></a>
    </ul>
  </nav> -->

  <div class="admin-layout">

   <div>
      <div class="number-of-company">
          Total number of  company:<div>{{getCompany}}</div>
        <br>
        
           total No of Locations: <div>{{noLocate}}</div>

           <a routerLink="/login">
          Logout</a>
        </div>
        
   </div>

</div>

